langchain 
openai 
langchain-chroma 
langchain-experimental
unstructured[all-docs]==0.10.19 
pillow 
pydantic 
lxml 
pillow 
matplotlib 
tiktoken 
open_clip_torch 
torch
langchain_openai
streamlit
python-dotenv