chromadb==0.5.5
langchain==0.2.12
langchain-chroma==0.1.2
langchain-community==0.2.11
langchain-core==0.2.29
langchain-experimental==0.0.64
langchain-openai==0.1.20
langchain-text-splitters==0.2.2
langdetect==1.0.9
langsmith==0.1.98
nltk==3.8.1
numpy==1.26.4
open_clip_torch==2.26.1
openai==1.40.2
opencv-python==4.10.0.84
openpyxl==3.1.5
streamlit==1.37.1
tokenizers==0.19.1
transformers==4.44.0
unstructured==0.10.19
unstructured-inference==0.6.6
unstructured.pytesseract==0.3.12
pillow 
pydantic 
lxml 
pillow 
matplotlib 
tiktoken 
open_clip_torch 
torch
langchain_openai
streamlit
python-dotenv
